{% extends "layout.twig" %}

{% block header %}
    <div class="status off">
        <div class="container d-flex justify-content-center align-items-center p-3">
            <p class="row col-12 d-flex justify-content-start align-items-center m-0 content">
                Сообщение добавленно!
            </p>
        </div>
    </div>
	<header class="header">
        <div class="container">
            <div class="row pr-2">
                <div class="row col-12 col-lg-5  ">
                    <a href="/" class="col-12   link-to-main">
                        <img src="./img/logo.png" width="300" heigth="55" class="col-12 logo" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block footer %}
	<footer class="footer">
		<div class="container">
			<div class="row flex-column flex-md-row align-items-center justify-content-center">
				<div class="row col-12 col-lg-4 d-flex justify-content-center">
					<a href="/" class="col-12 d-flex justify-content-center link-to-main">
						<img src="./dist/img/logo.png" width="300" heigth="55" class="col-12 logo" alt="logo">
					</a>
				</div>
				<div class="row d-flex col-12 col-lg-3 mt-3 mt-md-0 ml-lg-auto d-flex justify-content-center">
					<a href="#" class="ml-lg-auto link-to-sn">
						<img src="./dist/img/wk.png"  width="50" heigth="50" class="logo" alt="logo">
					</a>
					<a href="#" class="ml-5 link-to-sn">
						<img src="./dist/img/fb.png" width="50" heigth="50" class="logo" alt="logo">
					</a>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
